body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.25;
	margin: 0;
	padding: 0;
	background: #f5f5f5;
}

/* Micro Clearfix */
.cf:before, .cf:after { content: ''; display: table; visibility: hidden; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

.wrap {
	text-align: center;
}

.row {
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	width: 96%;
}

#header {
	overflow: visible;
	position: relative;
}

#header h1 {
	margin: 5px 0;
}

#primary-nav-button {
	display: none;
	border: 1px solid #aaa;
	position: absolute;
	bottom: 5px;
	right: 0;
	padding: 5px;
	text-decoration: none;
	color: #333;
	text-align: center;
	font-weight: bold;
	font-size: 0;
	cursor: pointer;
}

#primary-nav-button:hover {
	background: rgba(0,0,0,0.05);
}

#primary-nav-button.selected {
	background: rgba(0,0,0,0.1);
}

#primary-nav-button:before {
	content: '☰';
	display: block;
	font-size: 23px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.1;
	height: 1em;
	width: 1em;
	color: inherit;
	speak: none;
}

.menu,
.sub-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu .menu-item {
	float: left;
	margin-right: 10px;
	position: relative;
}

.menu .menu-item:last-child {
	margin-right: 0;
}

.menu .sub-menu .menu-item {
	width: 100%;
}

.menu .menu-item a {
	display: block;
	text-decoration: none;
	position: relative;
}

#top-nav .menu-item a {
  color: #8CC152;
  padding: 5px 0;
}

#top-nav .sub-menu {
  background: #fff;
}

#top-nav .sub-menu .menu-item a {
  padding: 5px;
}

#top-nav .sub-menu .menu-item > a:hover,
#top-nav .sub-menu .menu-item.selected > a {
  background: #8CC152;
  color: #000;
}

#primary-nav .menu-item a {
	color: #333;
	font-weight: bold;
	padding: 10px;
	line-height: 1;
}

#primary-nav .menu-item.active > a,
#primary-nav .menu-item > a:hover,
#primary-nav .menu-item.selected > a {
	background: #8CC152;
	color: #000;
}

#primary-nav.mobile .menu .downarrow, 
#primary-nav:not(.mobile) .menu .sub-menu .downarrow {
	position: absolute;
	right: 0;
	top: 0;
}

#primary-nav.mobile .menu .downarrow {
	cursor: default;
	padding: 5%;
	font-size: 1.33333em;
	line-height: .75;
	vertical-align: -15%;
	transition: transform .1s ease;
}

#primary-nav.mobile .menu .menu-item.selected > a .downarrow {
	transform: rotate(-179.99deg);
}

:not(.mobile) .menu .downarrow {
	font-size: .666667em;
	line-height: 1.25;
	vertical-align: 15%;
}

:not(.mobile) .menu > .menu-item .downarrow {
	margin-left: .25em;
}

:not(.mobile) .menu .sub-menu .downarrow {
	transform: rotate(270deg);
	padding: 10px;
}

/*.menu .downarrow {
	float: right;
	height: 1.25em;
	margin-left: .25em;
	cursor: default;
}

.menu .downarrow:before {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	content: "";
	height: 0;
	width: 0;
	margin: 0 auto;
	border-color: #555 transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0;
	text-align: center;
}

.mobile .menu .downarrow {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 1.25em;
	width: 1.25em;
	margin: 0;
	padding: 5%;
}

.mobile .menu .downarrow:before,
.mobile .sub-menu .downarrow:before {
	border-color: #555 transparent transparent;
	border-width: 7px 6px 0;
}

.sub-menu .downarrow:before {
	border-color: transparent #555;
	border-width: 4px 0 4px 5px;
}*/

.menu .sub-menu {
	display: none;
	position: absolute;
	left: 0;
}

#primary-nav .sub-menu {
	background: #A0D468;
	min-width: 150px;
	z-index: 200;
}

#primary-nav .sub-menu .menu-item {
	border-bottom: 1px solid #7cb142;
}

#primary-nav .sub-menu .menu-item:last-child {
	border-bottom: 0;
}

#primary-nav.mobile {
	display: none;
	position: absolute;
	top: 100%;
	background: #A0D468;
	width: 100%;
}

#primary-nav.mobile .menu-item {
	width: 100%;
	margin: 0;
	border-bottom: 1px solid #7cb142;
}

#primary-nav.mobile .menu-item.selected > a {
	border-bottom: 1px solid #7cb142;
}

#primary-nav.mobile .menu-item:last-child {
	border: none;
}

#primary-nav.mobile .menu-item a {
	padding: 5%;
}

#primary-nav.mobile .sub-menu .menu-item a {
	padding-left: 7%;
}

#primary-nav.mobile .sub-menu .sub-menu .menu-item a {
	padding-left: 9%;
}

#primary-nav.mobile .sub-menu .sub-menu .sub-menu .menu-item a {
	padding-left: 11%;
}

#primary-nav.mobile .sub-menu {
	float: left;
	position: relative;
	width: 100%;
}

#primary-nav-button.mobile {
	display: inline-block;
}
